* {
	background: ivory;
}

.body{
	width: 1000px;
	margin: 0 auto;
}

#logo{
	width: 50px;
	height: 50px;
}

h1{
	text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #404040FF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #27D7AEFF;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-----------------kip.html-----------------*/
#kip{
	width: 500px;
	height: 600px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#kiptext{
	text-decoration: underline;
}

/*-----------------info.html-----------------*/
#vakopicture{
	width: 250px;
	height: 300px;
}
/*-----------------merch.html-----------------*/
.cart{ 
    font-size:100%;
    font-size:30px;
}

.cart i:hover{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to{
    	transform:rotate(360deg);
    }
}

.Kingdom iframe{
	width: 1096px;
	height: 1420px;
}